.product {
 
    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 13px;

        @include tablet {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 5px;
        }
    }



    &__btn-favorite {
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-image: url('../img/Heart.svg');
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        @include tablet {
            margin-bottom: 10px;
        }

    }

    &__price {
        font-size: 14px;
        line-height: 17px;

        @include tablet {
            margin-bottom: 3px;
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__link {
        transition: color 0.3s ease-in-out;

        &:hover {
            color: $gray;
        }
    }

    &__image {
        margin-bottom: 16px;

        @include tablet {
            margin-bottom: 10px;
        }
    }

    &__color-list {
        display: flex;
        align-items: center;
        gap: 3px;
    }

    
}
